body {
    /* background:chocolate; */
    /* height:90vh; */
    background:lightsteelblue;
    /* background: linear-gradient(0deg,
            rgba(194, 222, 231, 1) 0%,
            rgba(120, 171, 186, 1) 100%);*/
    /* background-size: cover; */
    margin: 0px 0px;
    padding: 0px;
    text-align: center;
}
h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 50px;
}
a.bottoneOn {
    /* position: relative; */
    /* display: inline-block; */
    color: #000;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: rgb(165, 15, 15);
    padding: 0.7em 1.3em;
    border: 1px solid black;
    border-radius: 14px;
    font-size: 16px;
    /* position:absolute; */
   padding:10px;
   text-align: center;
   /* margin-top: 80px; */
    /* margin-left: 47%; */
}
a.bottoneOn:hover {
    background: rgb(232, 95, 76);
}
a.bottoneOn:active {
    background: rgb(152, 15, 0);
}
div#footer {
    display: block;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
    text-align: center;
}